body {
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(204, 168, 233) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
button,
::placeholder {
  padding: 0;
  margin: 0;
  color: #2a6a79;
  line-height: 1.5;
  font-family: "Ubuntu", sans-serif;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter {
  text-transform: capitalize;
}

p,
a,
li,
h3 span.low,
h4 {
  font-weight: 300;
}

ul {
  list-style: none;
}

button,
input {
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  box-shadow: 0 0 32px 0 rgb(31 38 135 / 19%);
  font-weight: 700;
  font-size: 16px;
}

button,
.search-btn {
  background: #90cedc;
  color: #ffffff;
  transition: all 200ms ease-in-out;
}

button:hover,
.search-btn:hover {
  background: #ffffff;
  color: #90cedc;
}
.weather-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 50px;

  background: rgba(222, 252, 249, 0.55);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 19%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Search */

/* current */

/* forecast */

.author-note {
  display: block;
  font-size: 12px;
  margin: 20px 0;
}
