.Search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
.Search .search-form {
  display: flex;
  margin-bottom: 20px;
}

.Search .search-input {
  border-radius: 30px 0 0 30px;
  background: #ffffff;
}

.Search .search-btn {
  border-radius: 0 30px 30px 0;
  margin-right: 20px;
}

@media all and (min-width: 600px) {
  .Search {
    justify-content: space-between;
  }
}
